{% extends 'base.html.twig' %}

{% block title %}Staff index{% endblock %}

{% block body %}
    <h1>Staff index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>FullName</th>
                <th>Email</th>
                <th>Phone</th>
                <th>CreatedAt</th>
                <th>Skills</th>
                <th>Comments</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for staff in staff %}
            <tr>
                <td>{{ staff.id }}</td>
                <td>{{ staff.FullName }}</td>
                <td>{{ staff.email }}</td>
                <td>{{ staff.phone }}</td>
                <td>{{ staff.createdAt ? staff.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ staff.skills }}</td>
                <td>{{ staff.comments }}</td>
                <td>
                    <a href="{{ path('staff_show', {'id': staff.id}) }}">show</a>
                    <a href="{{ path('staff_edit', {'id': staff.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('staff_new') }}">Create new</a>
{% endblock %}
