{% extends 'layouts/two-column.html.twig' %}

{% block title %}Staff{% endblock %}

{% block content %}
    <h1>Staff</h1>
    <h2> Count: {{ staff|length }} </h2>
    <table class="table">
        <thead>
            <tr>
                <th>№</th>
                <th>FullName</th>
                <th>Email</th>
                <th>Phone</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for staff in staff %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ staff.fullName|e }}</td>
                <td>{{ staff.email }}</td>
                <td>{{ staff.phone }}</td>
                <td>{{ staff.createdAt ? staff.createdAt|date('d.m.Y', timezone="Europe/Kiev") : '' }}</td>
                <td>
                    <a href="{{ path('staff_show', {'id': staff.id}) }}">show</a>
                    <a href="{{ path('staff_edit', {'id': staff.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('staff_new') }}">Create new</a>
{% endblock %}
