{% extends 'layouts/two-column.html.twig' %}

{% block title %}Staff{% endblock %}

{% block content %}
    <h1>Staff</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ staff.id }}</td>
            </tr>
            <tr>
                <th>FullName</th>
                <td>{{ staff.fullName }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ staff.email }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ staff.phone }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ staff.createdAt ? staff.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Comments</th>
                <td>{{ staff.comments }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('staff_index') }}">back to list</a>

    <a href="{{ path('staff_edit', {'id': staff.id}) }}">edit</a>

    <a href="{{ path('staff_delete', {'id': staff.id}) }}">delete</a>
{% endblock %}
