{% extends 'base.html.twig' %}

{% block title %}ProjectPeople index{% endblock %}

{% block body %}
    <h1>ProjectPeople index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Responsibility</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for project_person in project_peoples %}
            <tr>
                <td>{{ project_person.id }}</td>
                <td>{{ project_person.type }}</td>
                <td>{{ project_person.responsibility }}</td>
                <td>
                    <a href="{{ path('project_people_show', {'id': project_person.id}) }}">show</a>
                    <a href="{{ path('project_people_edit', {'id': project_person.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('project_people_new') }}">Create new</a>
{% endblock %}
