{% extends 'layouts/two-column.html.twig' %}

{% block title %}ProjectPeople{% endblock %}

{% block content %}
    <h1>ProjectPeople</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ project_person.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ project_person.type }}</td>
            </tr>
            <tr>
                <th>Responsibility</th>
                <td>{{ project_person.responsibility }}</td>
            </tr>
            <tr>
                <th>Person</th>
                <td>{{ project_person.person.fullName }}</td>
            </tr>
            <tr>
                <th>Project</th>
                <td>{{ project_person.project.title }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('project_people_index') }}">back to list</a>

    <a href="{{ path('project_people_edit', {'id': project_person.id}) }}">edit</a>

    <a href="{{ path('project_people_delete', {'id': project_person.id}) }}">delete</a>
{% endblock %}
