{% extends 'layouts/two-column.html.twig' %}

{% block title %}Department index{% endblock %}

{% block content %}
    <h1>Departments</h1>
    <h2> Count: {{ departments|length }} </h2>

    <table class="table">
        <thead>
            <tr>
                <th>№</th>
                <th>Title</th>
                <th>Description</th>
                <th>TeamLead</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for department in departments %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ department.title|e }}</td>
                <td>{{ department.description|e }}</td>
                <td>{{ department.teamLead|e }}</td>
                <td>
                    <a href="{{ path('department_show', {'id': department.id}) }}">show</a>
                    <a href="{{ path('department_edit', {'id': department.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('department_new') }}">Create new</a>
{% endblock %}
