{% extends 'layouts/two-column.html.twig' %}

{% block title %}Skills{% endblock %}
{% block content %}
    <h1>Skills</h1>
    <h2> Count: {{ skills|length }} </h2>
    <table class="table">
        <thead>
            <tr>
                <th>№</th>
                <th>Title</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for skill in skills %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ skill.title|e }}</td>
                <td>
                    <a href="{{ path('skill_show', {'id': skill.id}) }}">show</a>
                    <a href="{{ path('skill_edit', {'id': skill.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('skill_new') }}">Create new</a>
{% endblock %}
