{% extends 'layouts/two-column.html.twig' %}

{% block title %}Project index{% endblock %}

{% block content %}
    <h1>Projects</h1>
    <h2> Count: {{ projects|length }} </h2>

    <table class="table">
        <thead>
            <tr>
                <th>№</th>
                <th>Title</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ project.title|e }}</td>
                <td>{{ project.description|e }}</td>
                <td>
                    <a href="{{ path('project_show', {'id': project.id}) }}">show</a>
                    <a href="{{ path('project_edit', {'id': project.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('project_new') }}">Create new</a>
{% endblock %}
